<p>
  <strong>Title:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @author.homepage %>
</p>

<%= link_to 'Back', authors_path %>